

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
	background-color: #000000;
}
#Centered-Name{
	text-align: center;
	color: white;
	font-family: 'Slabo 27px', serif;
}
#ivrecordsjumbotron{
	padding: 300px;
}
#soundplayer{
	
}
footer p{
	color: white;
}

#mainnav{
	border-radius: 0px;
	background-image: #000000;
}















